<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Habit Tracker -{{ title }}</title>
  {% block head_content %}{% endblock %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  <header class="header"></header>

  <main class="main">
    {% block main_content %}
    {% endblock %}
  </main>


</body>
</html>