<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Habit Tracker -{{ title }}</title>
  {% block head_content %}{% endblock %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  <header class="header">
    <h1 class="header__logo">
      <a href="{{ url_for('index') }}" class="header__link">Habits</a>
    {% if "add" not in request.endpoint %}
      <a href="{{ url_for('add_habit') }}" class="header__link">+ Add new</a>
    {% endif %}
    </h1>
  </header>

  <main class="main">
    {% block main_content %}
    {% endblock %}
  </main>


</body>
</html>